<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.eventmap">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventMap"
        tools:targetApi="31">
        <meta-data
            android:name="com.yandex.maps.api.API_KEY"
            android:value="4fb04877-ed20-4a8f-a8b2-d84c09c4775c" />

        <!-- Главная активность, которая открывается при запуске -->
        <activity android:name=".Registration"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Welcome" />
        <activity android:name=".Login" />
        <activity android:name=".MainView" />
        <activity android:name=".Description" />
        <activity android:name=".Options" />
        <activity android:name=".EventMapActivity" />


    </application>

</manifest>
